.card-overlay, .card-img {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #262626; }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: 0; }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
        opacity: 0.7;
        border-radius: 0.5rem; }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
    .navbar-navigation .nav-list-item {
      list-style: none; }
    .navbar-navigation .nav-list-link {
      font-family: "Dancing Script", cursive;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 0.25rem;
      text-transform: capitalize;
      color: #bbb;
      text-decoration: none;
      display: block;
      margin: 1.25rem;
      text-align: center;
      transition: all 0.5s;
      cursor: pointer;
      letter-spacing: 0; }
      .navbar-navigation .nav-list-link:hover {
        color: #d3ab55;
        letter-spacing: 0.25rem; }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover; }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.about-us {
  height: 90vh;
  display: flex;
  align-items: center; }
  .about-us-left {
    width: 40%;
    position: relative; }
    .about-us-left img {
      width: 100%;
      opacity: 0.7; }
  .about-us-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px; }
    .about-us-right .sub-heading {
      text-align: center; }
    .about-us-right .stars {
      margin: 2rem 0; }
      .about-us-right .stars .star {
        color: #d3ab55;
        font-size: 1.25rem;
        margin-left: 0.5rem; }
    .about-us-right .description {
      font-size: 1.5rem;
      font-family: "Josefin Sans", sans-serif;
      font-style: italic;
      color: #bbb;
      text-align: justify; }
      .about-us-right .description::first-letter {
        padding-left: 3.5rem; }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.footer {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 4.5rem; }
  .footer-social-media .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 4.5rem; }
    .footer-social-media .social-media-item {
      list-style: none; }
    .footer-social-media .social-media-link {
      text-decoration: none;
      font-size: 2.5rem;
      color: #bbb;
      transition: color 0.7s;
      cursor: pointer; }
      .footer-social-media .social-media-link:hover {
        color: #d3ab55; }
  .footer-copyright-para {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.25rem;
    color: #bbb;
    font-weight: 300;
    letter-spacing: 0.25rem;
    text-transform: capitalize; }

.logo {
  font-size: 4rem;
  color: #d3ab55;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 3.5rem;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase; }

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase; }

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 5.5rem;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 2rem; }

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.75rem;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 5rem; }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  transition: all 0.4s; }
  .main-btn:hover {
    background-color: #d3ab55;
    color: #262626; }

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden; }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(211, 171, 85, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.7s;
    cursor: pointer; }
    .card-overlay-heading {
      font-family: "Nunito", sans-serif;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 0.25rem;
      text-transform: capitalize; }
    .card-overlay-para {
      font-family: "Josefin Sans", sans-serif;
      font-size: 2rem;
      margin-bottom: 2.5rem;
      font-weight: 300;
      letter-spacing: 0.25rem;
      text-transform: capitalize; }
    .card-overlay-btn {
      width: 8rem;
      height: 2rem;
      color: #d3ab55;
      background-color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #d3ab55;
      border-radius: 1.75rem;
      outline: none;
      cursor: pointer; }
  .card-img {
    object-fit: cover;
    opacity: 0.6; }
