.hamburger-menu .menu, .card-overlay, .card-img {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #262626; }

.navbar {
  position: relative;
  z-index: 200; }
  .navbar-navigation {
    display: flex; }
    .navbar-navigation-left {
      width: 50vw;
      height: 100vh;
      background-color: #262626;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 576px) {
        .navbar-navigation-left {
          display: none; } }
      .navbar-navigation-left .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.4);
        opacity: 0.7;
        border-radius: 0.5rem; }
        @media (max-width: 1300px) {
          .navbar-navigation-left .left-img {
            width: 55%; } }
        @media (max-width: 992px) {
          .navbar-navigation-left .left-img {
            width: 65%; } }
      .navbar-navigation-left .left-img-1 {
        top: 15%;
        left: 15%; }
        @media (max-width: 992px) {
          .navbar-navigation-left .left-img-1 {
            left: 5%; } }
      .navbar-navigation-left .left-img-2 {
        top: 35%;
        left: 25%; }
        @media (max-width: 992px) {
          .navbar-navigation-left .left-img-2 {
            left: 15%; } }
      .navbar-navigation-left .left-img-3 {
        top: 55%;
        left: 35%; }
        @media (max-width: 992px) {
          .navbar-navigation-left .left-img-3 {
            left: 25%; } }
    .navbar-navigation-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1); }
      @media (max-width: 576px) {
        .navbar-navigation-right {
          width: 100vw;
          right: -100vw; } }
    .navbar-navigation .nav-list-item {
      list-style: none; }
    .navbar-navigation .nav-list-link {
      font-family: "Dancing Script", cursive;
      font-size: 3rem;
      font-weight: 300;
      letter-spacing: 0.25rem;
      text-transform: capitalize;
      color: #bbb;
      text-decoration: none;
      display: block;
      margin: 1.25rem;
      text-align: center;
      transition: all 0.5s;
      cursor: pointer;
      letter-spacing: 0; }
      @media (max-width: 992px) {
        .navbar-navigation .nav-list-link {
          font-size: 2rem; } }
      @media (max-width: 576px) {
        .navbar-navigation .nav-list-link {
          font-size: 2.5rem; } }
      .navbar-navigation .nav-list-link:hover {
        color: #d3ab55;
        letter-spacing: 0.25rem; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0; }

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0; }

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg); }

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0; }

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg); }

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), url(../images/bg.jpeg) center no-repeat;
  background-size: cover; }
  .header .brand {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; }
  .header-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 4rem; }
    @media (max-width: 992px) {
      .header-banner {
        margin-top: 2.75rem; } }
    @media (max-width: 576px) {
      .header-banner {
        margin-top: 1.25rem; } }

.about-us {
  height: 100vh;
  display: flex;
  align-items: center;
  margin: 4rem 0; }
  @media (max-width: 1300px) {
    .about-us {
      height: 90vh;
      margin: 6rem 0; } }
  @media (max-width: 992px) {
    .about-us {
      height: 80vh;
      margin: 8rem 0; } }
  @media (max-width: 576px) {
    .about-us {
      height: 70vh;
      margin: 6rem 0; } }
  .about-us-left {
    width: 40%;
    position: relative; }
    @media (max-width: 576px) {
      .about-us-left {
        display: none; } }
    .about-us-left img {
      width: 100%;
      opacity: 0.7; }
  .about-us-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px; }
    @media (max-width: 576px) {
      .about-us-right {
        width: 100%;
        padding: 0 50px; } }
    .about-us-right .sub-heading {
      text-align: center; }
    .about-us-right .stars {
      margin: 2rem 0; }
      @media (max-width: 992px) {
        .about-us-right .stars {
          margin: 1.5rem 0; } }
      .about-us-right .stars .star {
        color: #d3ab55;
        font-size: 1.25rem;
        margin-left: 0.5rem; }
        @media (max-width: 992px) {
          .about-us-right .stars .star {
            font-size: 0.75rem; } }
    .about-us-right .description {
      font-size: 1.75rem;
      font-family: "Josefin Sans", sans-serif;
      font-style: italic;
      color: #bbb;
      text-align: justify; }
      .about-us-right .description::first-letter {
        padding-left: 3.5rem; }
      @media (max-width: 1600px) {
        .about-us-right .description {
          font-size: 1.25rem; } }
      @media (max-width: 992px) {
        .about-us-right .description {
          font-size: 0.9rem; } }
      @media (max-width: 576px) {
        .about-us-right .description {
          text-align: center; }
          .about-us-right .description::first-letter {
            padding-left: 0; } }

.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap; }

.footer {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 576px) {
    .footer {
      padding: 3rem 0; } }
  .footer-header {
    display: flex;
    align-items: center;
    margin-bottom: 4.5rem; }
  .footer-social-media .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 4.5rem; }
    @media (max-width: 992px) {
      .footer-social-media .social-media {
        width: 175px;
        margin-bottom: 3.25rem; } }
    @media (max-width: 576px) {
      .footer-social-media .social-media {
        width: 150px;
        margin-bottom: 2rem; } }
    .footer-social-media .social-media-item {
      list-style: none; }
    .footer-social-media .social-media-link {
      text-decoration: none;
      font-size: 2.5rem;
      color: #bbb;
      transition: color 0.7s;
      cursor: pointer; }
      @media (max-width: 992px) {
        .footer-social-media .social-media-link {
          font-size: 1.75rem; } }
      @media (max-width: 576px) {
        .footer-social-media .social-media-link {
          font-size: 1.5rem; } }
      .footer-social-media .social-media-link:hover {
        color: #d3ab55; }
  .footer-copyright-para {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.25rem;
    color: #bbb;
    text-align: center;
    margin-bottom: 0.5rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
    text-transform: capitalize; }
    @media (max-width: 992px) {
      .footer-copyright-para {
        font-size: 1rem; } }
    @media (max-width: 576px) {
      .footer-copyright-para {
        font-size: 0.8rem; } }

.hamburger-menu {
  width: 2.5rem;
  height: 2.5rem;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300; }
  @media (max-width: 992px) {
    .hamburger-menu {
      width: 1.75rem;
      height: 1.75rem; } }
  .hamburger-menu .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.5s; }
    .hamburger-menu .menu-line {
      width: 100%;
      height: 0.25rem;
      background-color: #d3ab55;
      transform-origin: right;
      transition: all 0.3s 0.3s; }
      @media (max-width: 992px) {
        .hamburger-menu .menu-line {
          height: 0.2rem; } }

.logo {
  font-size: 4rem;
  color: #d3ab55;
  width: 110px;
  height: 110px;
  border: 3px solid #d3ab55;
  border-radius: 50%;
  margin-right: 1.5rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 992px) {
    .logo {
      font-size: 2.5rem;
      width: 75px;
      height: 75px; } }
  @media (max-width: 576px) {
    .logo {
      font-size: 1.75rem;
      width: 50px;
      height: 50px;
      border-width: 2px; } }

.main-name {
  font-family: "Nunito", sans-serif;
  font-size: 3.5rem;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase; }
  @media (max-width: 1300px) {
    .main-name {
      font-size: 2.5rem; } }
  @media (max-width: 992px) {
    .main-name {
      font-size: 2rem; } }
  @media (max-width: 576px) {
    .main-name {
      font-size: 1.5rem; } }

.sub-name {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.25rem;
  text-transform: uppercase; }
  @media (max-width: 1300px) {
    .sub-name {
      font-size: 1.25rem; } }
  @media (max-width: 992px) {
    .sub-name {
      font-size: 1rem; } }
  @media (max-width: 576px) {
    .sub-name {
      font-size: 0.75rem; } }

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 5.5rem;
  font-weight: 300;
  color: #d3ab55;
  margin-bottom: 5rem; }
  @media (max-width: 1600px) {
    .main-heading {
      font-size: 4rem;
      margin-bottom: 3rem; } }
  @media (max-width: 1300px) {
    .main-heading {
      font-size: 3rem;
      margin-bottom: 2.25rem; } }
  @media (max-width: 992px) {
    .main-heading {
      font-size: 2.25rem;
      margin-bottom: 1.75rem; } }

.sub-heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.75rem;
  font-weight: 300;
  color: #bbb;
  margin-bottom: 5rem;
  text-align: center; }
  @media (max-width: 1600px) {
    .sub-heading {
      font-size: 1.75rem;
      margin-bottom: 3.5rem; } }
  @media (max-width: 1300px) {
    .sub-heading {
      font-size: 1.5rem;
      margin-bottom: 2rem; } }
  @media (max-width: 992px) {
    .sub-heading {
      font-size: 1.25rem;
      margin-bottom: 1.5rem; } }

.main-btn {
  width: 170px;
  height: 45px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d3ab55;
  background-color: transparent;
  border: 1px solid #d3ab55;
  border-radius: 0.25rem;
  outline: none;
  cursor: pointer;
  transition: all 0.4s; }
  .main-btn:hover {
    background-color: #d3ab55;
    color: #262626; }
  @media (max-width: 992px) {
    .main-btn {
      width: 135px;
      height: 30px;
      font-size: 0.8rem; } }
  @media (max-width: 576px) {
    .main-btn {
      width: 90px;
      height: 25px;
      font-size: 0.6rem; } }

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden; }
  .card:hover .card-overlay {
    left: 0; }
  .card-overlay {
    position: absolute;
    top: 0;
    left: -100%;
    background-color: rgba(211, 171, 85, 0.6);
    color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: left 0.7s;
    cursor: pointer; }
    .card-overlay-heading {
      font-family: "Nunito", sans-serif;
      font-size: 3rem;
      margin-bottom: 1rem;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.25rem;
      text-transform: capitalize; }
      @media (max-width: 992px) {
        .card-overlay-heading {
          font-size: 1.75rem; } }
      @media (max-width: 576px) {
        .card-overlay-heading {
          font-size: 1rem; } }
      @media (max-width: 360px) {
        .card-overlay-heading {
          display: none;
          margin-bottom: 0; } }
    .card-overlay-para {
      font-family: "Josefin Sans", sans-serif;
      font-size: 2rem;
      margin-bottom: 2.5rem;
      font-weight: 300;
      letter-spacing: 0.25rem;
      text-transform: capitalize; }
      @media (max-width: 992px) {
        .card-overlay-para {
          font-size: 1.25rem;
          margin-bottom: 1.5rem; } }
      @media (max-width: 576px) {
        .card-overlay-para {
          font-size: 0.75rem;
          margin-bottom: 1rem; } }
      @media (max-width: 360px) {
        .card-overlay-para {
          display: none;
          margin-bottom: 0; } }
    .card-overlay-btn {
      width: 8rem;
      height: 2rem;
      color: #d3ab55;
      background-color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 1px solid #d3ab55;
      border-radius: 1.75rem;
      outline: none;
      cursor: pointer; }
      @media (max-width: 992px) {
        .card-overlay-btn {
          width: 6rem;
          height: 1.5rem;
          font-size: 0.6rem; } }
  .card-img {
    object-fit: cover;
    opacity: 0.6; }
